* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'Dosis', sans-serif;
    
}
/*HEADER*/

header {
    background-color: #EDAE1D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2rem;
}

header img {border-radius: 10px;}

header button {
    background-color: #333333;
    color: #EDAE1D;
    padding: 0.5rem;
    border-radius: 25%;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
    width: 3rem;
    height: 3rem;
}

header button:hover {
    box-shadow: none;
    cursor: pointer;
}

#darkMode {
    width: 2.8rem;
    height: 3rem;
    cursor: pointer;
    padding: 2px;
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
}
#darkMode:hover{
    box-shadow: none;
    border: none;
}

#menu::before {
	content: "☰";
}

nav {display: none}

nav ol{
    flex-direction: column;
    text-align: center;    
    background-color: #333333;
}


nav li { 
    list-style: none;
    padding: 0.2rem;
    
}

nav  li a {    
    text-decoration: none;
    color: #fff;
    padding: 0.2rem;
}

nav li:hover {
    background-color: #BC8810;
    color: #FFF8EB;
    text-decoration: underline;
}


/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */


.open {display: block;}


#menu.open {
    width: 3rem;
    
}
#menu.open::before {
	content: "✖";
    font-size: 1.5rem;
}




/*MAIN*/
main {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 1rem;
}
main h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: underline;
}

li {
    padding-left: 1rem;
    padding-top: 1rem;
}

.card {
    border: 2px dashed black;
    padding-bottom: 0.3rem;
    
}


.card h3{
    background-color: #EDAE1D;
    text-align: center;
    padding: 0.1rem;
}

main .card ul li{list-style-type: none;}

main .card ul li a {
    padding: 10px;
}

/*FOOTER*/
footer {
    background-color: #333333;
    color: #fff;
    width: 100%;
    padding: 1rem;
   
    text-align: center;
}

#year,#lastModified {
    color: #EDAE1D;
}


/*Dark Mode Settings*/

.background-Black {
    background-color: black;
}

.white-letter {
    color: #fff;
}
.white-border {
    border:  2px dashed #fff;
}


/*Week 03*/

picture img{
    width: 100%;
    object-fit: cover;
  }


iframe{ 
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}
 

#hero {
    position: relative;
}


#temple-name {
    background-color: #333333;
    color: #fff;
    font-size: 2rem;
    width: fit-content;
    border: 2px solid #fff;
    position: absolute;
    bottom: 50px;
    left: 175px;
}


/*Weather Data*/
.information {
    text-align: center;
}

#weather-container{ 
text-align: center;}

#weather-container #current-temp {
    font-weight: bold;
}

#weather-container #weather-icon {
    width: 20%;
    background-color: #BC8810;
    border-radius: 35px;
    margin-top: 1rem;
}

#weather-container figcaption {
    font-size: 1.5rem;
    font-weight: bold;
}




















